@model TicketAPP.Models.Project

@{
    ViewData["Title"] = "Create Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>
